<!-- Global Header Component -->
<div
class="ot-navbar">
<div
data-animation="default"
data-collapse="medium"
data-duration="400"
data-easing="ease" data-easing2="ease"
role="banner"
class="ot-navbar-container w-nav">
<div
class="ot-nav-inner-container">
<div
class="ot-navbar-wrapper">
<a
aria-label="Join Otto AI"
href="https://joinotto.com/bookkeeping"
class="ot-navbar-brand w-nav-brand">
<div
class="w-embed">
<img
src="/en-gb/images/joinotto-logo.webp"
width="53.25"
height="20"
alt="Otto AI">
</div>
</a>
<nav
role="navigation"
class="ot-nav-menu-wrapper height-auto w-nav-menu">
<ul
role="list"
class="ot-nav-menu w-list-unstyled">
<li>
  <div
  data-delay="0"
  data-hover="true"
  class="ot-nav-dropdown w-dropdown">
  <div
  class="ot-nav-dropdown-toggle w-dropdown-toggle">
  <div
  class="ot-nav-dropdown-icon w-icon-dropdown-toggle">
</div>
<div>
  Product
</div>
</div>
<nav
class="ot-nav-dropdown-list w-dropdown-list">
<a
href="https://joinotto.com/bookkeeping"
class="ot-nav-dropdown-link w-dropdown-link">
Bookkeeping
</a>
<a
href="https://joinotto.com/en-gb/invoicing"
class="ot-nav-dropdown-link w-dropdown-link">
Invoicing
</a>
</nav>
</div>
</li>
<li
class="ot-nav-menu-button">
<div
class="ot-nav-button-wrapper">
<a
href="https://app.joinotto.com/auth/signin?utm_source=webiste&utm_medium=cta&utm_campaign=conversion&utm_content=header-sign-in"
class="ot-secondary-btn w-inline-block">
<div>
  Login
</div>
</a>
<a
href="https://app.joinotto.com/auth/signin?auth=google&utm_source=webiste&utm_medium=cta&utm_campaign=conversion&utm_content=header-sign-in"
class="ot-secondary-btn w-inline-block">
<img
src="/en-gb/images/682db7bd1d0749a44744a155_google%20%281%29.png"
loading="lazy"
width="18"
height="18"
alt="Google"
style="margin-right: 8px;">
<div>
  Join with Google
</div>
</a>
</div>
</li>
</ul>
</nav>
<div
class="ot-menu-button w-nav-button">
<div
class="ot-menu-icon w-icon-nav-menu">
</div>
</div>
</div>
</div>
</div>
</div> 